:root {
  --main-blue: #1d82e2;
  --sub-lg-blue: #4a9be8;
  --third-off-white: #ebebeb;
  --main-black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================================================================ */
/* Global */
html {
  /* Use Rem for measurement || currently 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: var(--third-off-white);
  position: relative;
}

/* ============================================================================ */
/* Navbar */
.customNav {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  color: var(--third-off-white);
  background-color: var(--main-black) !important;
}
.customMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.customNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.navbar-brand {
  width: 100% !important;
}
.persona {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  transition: .5s;
}
.persona:hover {
  color: black;
  transition: .5s;
}
.navWrapper {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.navLocation, .navForm {
  font-size:2rem;
  transition: .5s;
}
.navForm:hover {
  color: black !important;
  background-color: transparent;
  transition: .5s;
}

/* ============================================================================ */
/* Dropdown Section */
.customDrop {
  font-size: 1.2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 3px;
  margin: 1.5rem;

  border-radius: 5px;
  transition: .5s;
}
.button{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.3rem;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}
.dropdown-item{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.3rem;
}
.border {
  border-bottom:  rgb(206, 206, 206) 1px solid;
  font-family: "Yanone Kaffeesatz", sans-serif;
} 

/* ============================================================================ */
/* Card Section */
.mainService {
  width: 100vw;
  height: auto;
  background-color: var(--third-off-white);
}
.serviceSection {
  width: 100%;
  padding: 10rem;
  display: flex;
}
.wrapperDiv {
  display: flex;
  flex-direction: column;
  
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -1px #6b6b6b; 
  box-shadow: 0px 0px 10px -1px #6b6b6b;
  
  padding: 2rem;
  margin: 2rem;

  max-width: 50%;
  width: 50%;
  height: auto;

  transition: .5s;
}
.wrapperDiv:hover {
  box-shadow: none;
  transition: .5s;
  cursor: pointer;
}
figure {
  width: auto;
  height: auto;
  overflow: hidden;
}
.customText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.customTitle {
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
}
.customName {
  margin-left: 2rem;
  font-size: 1.5rem;
}
.customContact {
  margin-left: 3rem;
}
.customContent {
  margin: 1rem;
  font-size: 1.3rem;
}

/* ============================================================================ */
/* Buy Button Section */
.paySection {
  width: 100%;
  border-top: rgb(206, 206, 206) 1px solid;
}
#buyButton{
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 10px -2px #373737; 
  box-shadow: 0px 0px 10px -2px #373737;
  border-radius: 5px;
  transition: .5s;
  background-color: white;
  padding: 0rem 2rem;
  margin: 1.5rem;
}
#buyButton:hover{
  box-shadow: none;
  transition: .5s;
  cursor: pointer;
  background-color: var(--third-off-white);
}
/* ============================================================================ */
/* Footer Section */
footer{
  width: 100%;
  height: auto;

  padding: 2rem !important;
  
  border-top: rgb(206, 206, 206) 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.infoFooter {
 font-size: 2rem;
 width: 80%;
}
.infoSection {
  margin: 1rem 2rem 1rem;
  padding: 2rem;
}
.infoSection ul {
  color: rgba(133, 133, 133, 0.9) !important;
  letter-spacing: .1rem;
  line-height: 4rem;
}
.infoSection ul li {
  width: fit-content;
  height: fit-content;
}
.infoSection ul li:hover {
  color: var(--main-black);
  cursor: pointer;
}
.infoContent {
  width: 90vw;
  border-top: rgb(206, 206, 206) 1px solid;
  padding: 2rem;
  font-size: 2rem;
}
#copyright {
  padding-left: 2rem;
  width: fit-content;
}
.footerLogo {
  width: fit-content !important;
}
#symbol {
  font-size: 2rem;
  font-weight: normal;
}
.content ul {
  list-style: none;
  text-decoration: none;
  color: var(--main-black);
}
.content li {
  padding: .5rem;
}
.content li+li {
  margin: 0;
}
.content a {
  color: var(--main-black);
  padding: 1rem;
  transition: .5s;
  width: 100%;
}

.content a:hover {
  color: var(--third-off-white);
  border-radius: 10rem;
  transition: .5s;
}

/* ============================================================================ */
/* Media Queries */
@media screen and (max-width: 1024px) {
/* Navbar  */
  .customNavbar {
    width: 90%;
  }
/* Service Dropdowns */
  .serviceSection {
    width: 100%;
    padding: 5rem;
    display: flex;
  }
  .wrapperDiv {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    margin: 1rem;
  }
  .customText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .customTitle {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .customName {
    margin-left: 0rem;
    font-size: 1rem;
    text-align: center;
  }
  .customContact {
    margin-left: 0rem;
    text-align: center;
  }
  .customContent {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
/* Navbar */
  .customNav {
      position: static;
      transition: .5s;
  }
  .customNav a span {
      font-size: 2.5rem;
  }
/* Service Dropdowns */
  .serviceSection {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .wrapperDiv {
    flex-direction: column;
    padding: 2rem;
  }
}
@media screen and (max-width: 630px) {
/* Service Dropdowns */
  .wrapperDiv {
    max-width: 100%;
    width: 100%;
  }

/* Footer */
  .infoFooter {
      font-size: 1.5rem;
      width: 100%;
  }
  .infoSection {
      margin: 1rem;
      padding: 1rem;
  }
  .infoSection ul {
      letter-spacing: 0rem;
      line-height: 3rem;
  }
  .infoContent {
      padding: 1rem;
      font-size: 1.5rem;
  }
  #copyright {
      padding-left: 0rem;
      width: fit-content;
  }
}