:root {
  --main-blue: #1d82e2;
  --sub-lg-blue: #4a9be8;
  --third-off-white: #ebebeb;
  --main-black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================================================================ */
/* Global */
html {
  /* Use Rem for measurement || currently 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: var(--third-off-white);
  position: relative;
}
/* ============================================================================ */
/* Navbar */
.customNav {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  color: var(--third-off-white);
  background-color: rgb(26, 26, 26) !important;
}
.customMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.persona {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
.persona:hover {
  color: black;
}

/* ============================================================================ */
/* Footer Section */
footer {
  width: 100%;
  height: auto;

  padding: 2rem !important;

  border-top: rgb(206, 206, 206) 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.infoFooter {
  font-size: 2rem;
  width: 80%;
}
.infoSection {
  margin: 1rem 2rem 1rem;
  padding: 2rem;
}
.infoSection ul {
  color: rgba(133, 133, 133, 0.9) !important;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}
.infoContent {
  width: 90vw;
  border-top: rgb(206, 206, 206) 1px solid;
  padding: 2rem;
  font-size: 2rem;
}
#copyright {
  padding-left: 2rem;
  width: fit-content;
}
.footerLogo {
  width: fit-content !important;
}
#symbol {
  font-size: 2rem;
  font-weight: normal;
}
.content ul {
  list-style: none;
  text-decoration: none;
  color: var(--main-black);
}
.content li {
  padding: 0.5rem;
}
.content li + li {
  margin: 0;
}
.content a {
  color: var(--main-black);
  padding: 1rem;
  transition: 0.5s;
  width: 100%;
}

.content a:hover {
  color: var(--third-off-white);
  border-radius: 10rem;
  transition: 0.5s;
}
