:root {
    --main-blue: #1D82E2;
    --sub-lg-blue: #4A9BE8;
    --third-off-white: rgb(235, 235, 235);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --main-blue: #1D82E2;
    --sub-lg-blue: #4A9BE8;
}
/* ============================================================================ */
/* Global */
html {
    /* Use Rem for measurement || currently 1rem = 10px */
    font-size: 62.5%;
}   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: var(--third-off-white);
    position: relative;
}
/* ============================================================================ */
/* Navbar */
.customNav {
    font-size: 4rem;
    display:flex;
    flex-direction: row;
    color: var(--third-off-white);
    background-color: rgb(26, 26, 26);
}
.customMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.persona {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.navbar-brand a:hover {
    color: black;
}
.navbar-item {
    color: var(--third-off-white);
}
.navbar-item:hover {
    color: var(--third-off-white);
    background-color: transparent;
}
.navbar-end a:hover {
    color: black;
    background-color: transparent;
}
/* ============================================================================ */
/* Main Hero */
.customHero {
    background-color: #333333;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    color: var(--third-off-white)
}
.field.is-grouped>.control:not(:last-child) {
    margin-right: 0%;
}
.input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.customTabs a {
    font-size: 2rem;
    color: var(--third-off-white);
}
.customTabs a:hover {
    color: rgb(24, 24, 24);
    background: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* img slideshow */

.slider-container{
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.testimonials-container{
    width: 2450px;
    height: 500px;
    padding-top: 50px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.slide-img{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
    
    
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem ;
}
.slide-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    margin: .3rem;
}
#testimonials1:target ~ .testimonials-container{
    left: -5px;
}
#testimonials2:target ~ .testimonials-container{
    left: -615px;
}
#testimonials3:target ~ .testimonials-container{
    left: -1225px;
}
#testimonials4:target ~ .testimonials-container{
    left: -1835px;
}
/* ============================================================================ */
/* Trusted By Section */
.trustedSection {
    background-color: var(--third-off-white);
}
/* ============================================================================ */
/* Service Section */
.serviceSection {
    background-color: gray;
}

/* ============================================================================ */
/* Footer Section */
footer{
    height: auto;
    background-color: black;
    width: 100%;
}
/* Social Icons */
.contact {
    padding: 3rem;
}
.contact ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact ul li {
    list-style: none;
}

.contact ul li a {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    
    padding: 6px;
    margin: .5rem;
    
    text-align: center;
    
    border-radius: 50%;
    
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.contact ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.contact ul li a .fa {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    
    color: #262626;
    line-height: calc(60px - 12px); /* shaving off some pixels to center the icons to the middle of the background */
    border-radius: 50%;
    
    background: linear-gradient(0deg, #fff, #ddd); /* created a background gradient that stacks on top of the anchor background to create a indention effect */
    transition: .5s;
}
.contact ul li a .fas {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;

    color: #262626;
    line-height: calc(60px - 12px); /* shaving off some pixels to center the icons to the middle of the background */
    border-radius: 50%;

    background: linear-gradient(0deg, #fff, #ddd); /* created a background gradient that stacks on top of the anchor background to create a indention effect */
    transition: .5s;
}

/* selectors for icons using nth-child */
.contact ul li:nth-child(1) a:hover .fa {color: grey;}
.contact ul li:nth-child(2) a:hover .fa {color: #007bb6;}
.contact ul li:nth-child(3) a:hover .fa {color: lightgray;}
.contact ul li:nth-child(4) a:hover .fas {color: rgb(99, 240, 86);}